<ion-header>
  <ion-toolbar>
    <ion-title>Geolocalition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Latitude : {{ lat }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Longitude : {{ lng }}</ion-label>
  </ion-item>
</ion-content>
